/* Your app styles here */
* {
    --f7-subnavbar-height: 120px;
    --f7-color-red: #cb2128;
    --f7-color-red-rgb: 203, 33, 40;
    --f7-color-red-shade: #c32128;
    --f7-color-red-tint: #d32128;
    --f7-theme-color-bg-color: #cb2128;
    --f7-theme-color: #cb2128;
    --f7-bars-link-color: #ffffff;

}

/*cb2128 */

.search-bar.subnavbar {
    height: auto;
}
.stores-list .page-content {
    padding-top: calc(var(--f7-navbar-height) + 52px) !important;
}

i.icon.status-icon {
    vertical-align: bottom;
}

.messages-block {
    height: calc(100vh - calc(var(--f7-subnavbar-height)));
    margin-top: calc(var(--f7-subnavbar-height));
}

.list-request, .list-request ul{
    height: 100%;
    width: 100%;
}

h1 {
    padding: 0 14px;
}


.btn-new-request{
    bottom: 8px !important;
}